body { background: #aa82d0; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 11px; display: flex; }
.block-database-0 { color: #e839c8; font-size: 12px; margin-bottom: 5px; }
.block-metrics-1 { color: #91c70b; font-size: 17px; margin-bottom: 5px; }
.block-database-2 { color: #f37065; font-size: 13px; margin-bottom: 5px; }
.block-uploader-3 { color: #8c9bb8; font-size: 17px; margin-bottom: 5px; }
.block-cache-4 { color: #5f47f1; font-size: 15px; margin-bottom: 5px; }
.block-invoice-5 { color: #bb23e0; font-size: 12px; margin-bottom: 5px; }
.block-uploader-6 { color: #4f36c2; font-size: 12px; margin-bottom: 5px; }